.home {
  display: flex;
  flex-direction: column;
}

.category-selector {
  width: 100%;
  margin-bottom: 20px;
}

.images-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }