.home {
  text-align: center;
  width: 80vw;
  padding: 30px;
}

.home-page {
  background-color: whitesmoke;
}

.content {
  margin-left: 200px;
}

.home .title {
  width: 65vw;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

#real-file-input {
  display: none;
}
