.tile {
  overflow: hidden;
  margin: auto;
}

.tile-actions .btn {
  padding: 5px 10px;
  font-size: 12px;
}

.tile-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tile-options {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
